{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<!doctype html>
 <html lang="en">
   <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   </head>
   <body class="vh-100" style="background-color: #ffe9f4;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h1>Registration Form</h1>  

                        <form method="POST" >  
                            {% csrf_token %}  
                            <table>  
                                {{ form.as_table }}  
                                <tr>  
                                    <td></td>
                                    <td><input class="btn btn-secondary" type="submit" name="submit" value="Daftar"/></td>  
                                </tr>  
                            </table>  
                        </form>

                    {% if messages %}  
                        <ul>   
                            {% for message in messages %}  
                                <li>{{ message }}</li>  
                                {% endfor %}  
                        </ul>   
                    {% endif %}
                </div>    
              </div> 
            </div>
        </div>    
    </div>  
   </body>
 </html>
{% endblock content %}